*{
  --primary-color: #fff;
  --secondary-color: #777777;
  --background-color: #f9f9ff;
  --headers-color: #222222;
  --hover-color: #8CC0DE;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  /* line-height: 24px; */
}

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-track {
  background: var(--primary-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

#root {
  width: 100%;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: var(--headers-color);
}

button {
  height: 50px;
  width: 200px;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--primary-color);
  background-color: var(--hover-color);
  outline: none;
  border: none;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

button:hover {
  background-color: rgba(15, 11, 23, 0.2);
}

.section {
  padding: 70px 50px;
  border-radius: 15px;
}

.margin {
  margin-bottom: 50px;
}

svg:hover {
  size: 6rem;
  color: var(--hover-color);
}

@media(max-width: 780px) {

  .section {
    padding: 0px;
  }
}
