.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 70px;
    width: auto;
    background-color: var(--primary-color);
}

.logo {
    width: 40px;
    height: auto;
}

.header--nav {
    display: flex;
    gap: 0.5em;
}

.header--link {
    text-decoration: none;
    color: var(--secondary-color);
}