.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px 30px 20px;
    width: 100%;
    height: 80px;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    z-index: 2;
}

.navbar .logo {
    width: 40px;
    height: auto;
}

.navbar .nav .nav--links{
    display: flex;
    gap: 0.5em;
}

.navbar .nav--link {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 0.85em;
    transition: all 0.3s;
}

.navbar .nav--link:hover {
    border-bottom: 3px solid var(--secondary-color);
    font-size: 1em;
    color: #feca57;
}

.navbar .mobile--nav {
    display: none;
}

@media (max-width: 780px) {
    .navbar .nav {
        display: none;
    }

    .navbar .mobile--nav{
        display: flex;
        gap: 0.5em;
        align-items: center;
    }

    .mobile--nav .nav--links{
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: right;
        text-align: right;
        top: 80px;
        right: 0;
        padding: 0.5em;
        background-color: var(--primary-color);
        width: 100%;
    }

    .mobile--nav .nav--links .nav--link {
        font-size: 1.2em;
        padding: 1.5em;
    }

    .mobile--nav .hamburger--menu {
        position: absolute;
        right: 5%;
        cursor: pointer;
    }
}