footer {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2em;
}

.footer--text {
    color: #9FBAF5;
    font-size: 0.8em;
}